html, 
body {
    min-width: 1170px;
}

@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIItalic";
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
    url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "SegoeUISemiBold", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: white;
    background-color: #515f67;
}

.main-header {    
    background-image: url("../img/header-background.jpg");
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main-navigation-wrapper {
    margin-bottom: 250px;
    background-color: #39444b;
    opacity: 0.85; 
}

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-navigation img {    
    margin-right: 520px;
}

.navigation-list {
    list-style: none;    
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation-list li {
    margin-right: 47px;    
}

.navigation-list a {    
    font-family: "SegoeUIBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #39444b;
}

.navigation-list li:first-of-type {
    margin-right: 30px;
}

.navigation-list li:last-of-type {
    margin-right: 0;
}

.main-page .active-link {    
    padding: 4px 17px;
    border: 2px solid #4bcaff;
    color: #4bcaff;
}

.main-page h2 {
    margin: 0;
    padding: 0;
    font-family: "SegoeUILight", "Arial", sans-serif;
    font-size: 30px;
    line-height: 36px; 
    text-transform: uppercase;
}

.header-quote {
    padding-bottom: 239px;
}

.header-quote p {    
    margin: 0;
    padding: 0;
    font-family: "SegoeUILight", "Arial", sans-serif;
    font-size: 42px;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
    background-color: #39444b;
    opacity: 0.85;
}

.header-quote .first-header-quote {
    margin-left: 230px;
    margin-bottom: 14px;
    width: 715px;
}

.header-quote .second-header-quote {  
    margin-left: 90px;  
    width: 990px;
}

.services-wrapper {        
    background-color: #4bcaff;
}

.services {
    padding: 75px 0;
    color: white;    
}

.services h2 {
    position: relative;
}

.services h2::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    width: 45px;
    height: 2px;
    background-color: white;
}

.services-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.services-list li {
    margin-right: 30px;
    padding-top: 90px;
    width: 270px;    
}

.services-list li:first-of-type {
    background-image: url("../img/coffee-icon.png");
    background-position: 0 48px;
    background-repeat: no-repeat;
}

.services-list li:nth-of-type(2) {
    background-image: url("../img/instant-icon.png");
    background-position: 0 48px;
    background-repeat: no-repeat;
}

.services-list li:nth-of-type(3) {
    background-image: url("../img/serious-icon.png");
    background-position: 0 48px;
    background-repeat: no-repeat;
}

.services-list li:last-of-type {
    margin-right: 0px;
    background-image: url("../img/frame-icon.png");
    background-position: 0 48px;
    background-repeat: no-repeat;
}

.services-list h3 {
    margin-top: 22px;
    margin-bottom: 9px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
}

.services-list p {
    margin: 0;
    padding: 0;
}

.portfolio-wrapper {
    background-color: white;
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 50px;     
    color: #515f67;    
}

.portfolio-heading-wrapper {
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio h2 {
    position: relative;
    margin-right: 474px;
}

.portfolio h2::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    width: 45px;
    height: 2px;
    background-color: #515f67;
}

.portfolio-filters {    
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-filters li {
    margin-right: 50px;
}

.portfolio-filters li:last-of-type {
    margin-right: 0;
}

.portfolio-filters a {
    font-family: "SegoeUIBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #515f67;
}

.gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gallery li {
    margin-right: 30px;
    margin-bottom: 30px;
}

.gallery li:nth-of-type(4n) {
    margin-right: 0;
}

.gallery a {
    display: block;
}

.just-default-section-wrapper {
    background-color: #515f67;
}

.just-default-section {
    padding-top: 75px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
}

.just-default-text-wrapper {
    width: 500px;
    margin-right: 110px;
}

.just-default-section h2 {
    padding-bottom: 45px;
    position: relative;
}

.just-default-section h2::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    width: 45px;
    height: 2px;
    background-color: white;
}

.just-default-section p {    
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: "SegoeUIRegular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.just-default-section a {
    padding: 8px 38px;
    font-family: "SegoeUIBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #353f46;
    border: 2px solid #353f46;
    text-transform: uppercase;
    text-decoration: none;
}

.twitter-wrapper {
    background-color: #4bcaff;  
}

.twitter {
    padding: 75px 0 65px;
    color: white;    
}

.twitter h2 {
    position: relative;
}

.twitter h2::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 26px;
    height: 24px;
    background-image: url("../img/twitter-icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.twitter h2::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    width: 45px;
    height: 2px;
    background-color: white;
}

.twitter p {
    font-family: "SegoeUILight", "Arial", sans-serif;
    font-size: 28px;
    line-height: 50px; 
}

.twitter a {
    text-decoration: none;
    color: white;
    font-family: "SegoeUISemiBold", "Arial", sans-serif;
}

.john-doe-info-wrapper {
    background-image: url("../img/who-is-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.john-doe-info {
    padding-top: 95px;
    padding-bottom: 155px;
}

.john-doe-info p {
    font-family: "SegoeUIRegular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.testimonials-wrapper {
    background-color: white;
}

.testimonials {
    padding: 75px 0;
    color: #515f67;    
}

.testimonials blockquote {
    margin: 0;
    padding: 0;
    font-family: "SegoeUILight", "Arial", sans-serif;
    font-size: 28px;
    line-height: 50px;
}

.testimonials cite {
    font-family: "SegoeUIBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 50px;
    font-style: normal;
    color: #4bcaff;
}

.contact-wrapper {
    background-image: url("../img/contact-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.contact {
    padding-top: 75px;
    padding-bottom: 80px;
}

.contact-form {
    font-family: "SegoeUIBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.contact-form label {
    text-transform: uppercase;
}

.contact-form button {    
    font-family: "SegoeUIBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: white;
    background-color: #4bcaff;
    border: none;
}

.contact p,
.contact address {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;    
}

.contact address a {
    color: white;
    font-size: 14px;
    line-height: 24px; 
    text-decoration: none;
}

.footer-wrapper {
    background-color: #353f47;
}

footer {
    padding: 75px 0;
    font-family: "SegoeUIBold", "Arial", sans-serif;    
    color: #515f67;    
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer a {
    font-family: "SegoeUIBold", "Arial", sans-serif; 
    text-decoration: none;
    text-transform: uppercase;
    color: #515f67;    
}

footer p {
    margin: 0;
    padding: 0;
}